# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.spec

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/

# Data
*.pptx
!tests/*.py
